 #game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;
} 
#Scores {
  display: flex;
  flex-direction: row;
}

#BestScores {
  display: flex;
  flex-direction: row;
}
h1 {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.buttons {
  background-color: hsl(233, 71%, 27%);
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#Scores {
  background-color: hsl(140, 84%, 48%);
  color: hsl(233, 71%, 27%);
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#BestScores {
  background-color:hsl(140, 84%, 48%);
  color: hsl(233, 71%, 27%);
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#game {
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  background-color: hsl(141, 43%, 17%);
}
[title]{
  background-color: white;
}
#overlay {
  position: absolute; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 50%; /* Full width (cover the whole page) */
  height: 50%; /* Full height (cover the whole page) */
  margin-left: 300px;
  margin-top: 10px;
  text-align: center;
  color: hsl(233, 71%, 27%);
  background-color: rgba(255, 165, 0, 0.73);/* Black background with opacity */
  background-color: white;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
   /* Add a pointer on hover */
}
